

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {background:lightbrown;}



.main_wrapper{
width:1000px;
height:auto;
margin:auto;	
}

.header_wrapper{
width:1000px;
height:150px
margin:auto;

}
#logo{float:left;}
#banner{float:right;}

.menubar{
width:1000px;
height:50px;
background:gray;
color:white;
}

#menu{
padding:0;
margin:0;
line-height:40px;
float:left;
}

#menu li{
list-style:none;
display:inline;
}

#menu a {
text-decoration:none;
color:white;
padding:8px;
margin:5px;
font-size:18px;
font-family	:COMIC SANS MS;
}

#menu a:hover{color:orange; font-weight:bolder;text-decoration:underline;}

#form{float:right; padding-right:8px;line-height:50px;}

.content_wrapper{
width:1000px;
margin:auto;
background:wheat;
}

.content_wrapper2{
width:1000px;
height:2000px;
background:wheat;
}

.content_wrapper3{
width:1000px;
height:2000px;
background:lightblue;
}

#content_area{
width:800px;
float:right;
background:wheat;
}

#content_area3{
width:800px;
float:right;
background:lightblue;
}

#sidebar{
width:500px;
height:800px;
float:left;
background:black;
}
#sidebar5{
width:450px;
height:800px;
padding:20px;
padding-top:60px; 
float:left;
background:black;
}


#sidebar2{
width:600px;
height:800px;
float:left;
background:black;
}

#sidebar3{
width:600px;
height:800px;
float:left;
background:lightblue;
}

#sidebar_title{
background:white;
color:black;
font-size:22px;
font-family:arial; 	
	
}

#cats{
	text-align:left;
	
}
#cats li {list-style:none;}

#cats a{color:red; padding:15px; margin:10px; text-decoration:none;text-align:center;font-family:COMIC SANS MS;font-size:30px;}

#cats a:hover{color:pink; font-weight:bolder; text-decoration:underline;}


#cats2{
	text-align:center;
	
}







#products_box

{
width:780px;
text-align:center;
margin-left:30px;
margin-bottom:10px;
}

#single_product

{
float:left;
margin-left:30px;
padding:10px;
}

#single_product img {border:2px solid black;}

#footer{
width:1000px;
height:100px;
background:gray;
clear: both;
}